:root{
  --timberwolf: #d4d7cfff;
  --seasalt: #f7f6f7ff;
  --ash-gray: #afbeb8ff;
  --dark-slate-gray: #3a5d56ff;
  --antiflash-white: #efefefff;
  --white-smoke: #f6f5f4ff;
  --ecru: #a9a06aff;
  --viridian: #468871ff;
  --ecru-2: #cebc88ff;
  --dun: #d7cdb2ff;
  /*Nuevos*/
  --champagne-pink: #f5ddcfff;
  --linen: #f7eee5ff;
  --champagne-pink-2: #fbe9deff;
  --golden-brown: #9f6f32ff;
  --dutch-white: #efdcbbff;
  --ecru: #cfb269ff;
  --isabelline: #ede6e0ff;
  --pale-dogwood: #facabcff;
  --ecru-2: #dec285ff;
  --seashell: #fbf4eeff;
  --titulos: "Alex Brush", serif;
  --secFont: "Playfair Display", serif;
}

.bgFooter{
  background-color: #1A1A1A;
}

.sectionM{
  height: 100vh;
  margin: 0;
  padding: 0;
}

.titulo{
  font-family: var(--titulos);
  font-weight: 600;
  /* font-style: italic; */
}

.cardFont{
  font-family: var(--secFont);
  font-optical-sizing: auto;
  font-weight: 400;
}

.faceInv{
  background-image: url(../resources/idk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

.twoInv{
  background-image: url(../resources/matbe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

.threeInv{
  /* background-image: url(../resources/fondoMariposas.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

.threeTwoInv{
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

.fiveInv{
  background-color: var(--seashell);
}

.fourInv{
  background-color: var(--champagne-pink-2);
}

.sixInv{
  background-image: url(../resources/poray.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(245, 221, 207,1);
  background-blend-mode: multiply;
}

.title{
  text-align: center;
}

.nombre{
  color: var(--seasalt);
  margin-top: 0;
  font-family: var(--titulos);
  font-weight: 500;
  /* font-style: italic; */
  font-size: 60px;
}
.misXv{
  color: var(--seasalt);
  margin-bottom: 0;
  font-weight: 500;
  font-family: var(--titulos);
  /* font-style: italic; */
  font-size: 40px;
}

.frase{
  color: var(--antiflash-white);
  margin: 0 1px 1px 0;
  border: 1px;
  font-weight: 500;
  font-family: var(--secFont);
  font-style: italic;
  font-size: 16px;
}

.frase>p{
  margin: 1px;
}

.card {
  background: var(--champagne-pink-2);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cardButton{
  background-color: var(--pale-dogwood);
  border: 1px solid var(--ecru-2);
  color: var(--white-smoke);
}

.cardButton:hover{
  background-color: var(--white-smoke);
  border: 1px solid var(--ecru-2);
  color: var(--pale-dogwood);
}

.cardButton:active{
  background-color: var(--white-smoke);
  border: 1px solid var(--ecru-2);
  color: var(--pale-dogwood);
}

.asisButton{
  background-color: var(--white-smoke);
  border: 1px solid var(--ecru-2);
  color: var(--pale-dogwood);
}
.asisButton:hover{
  background-color: var(--pale-dogwood);
  border: 1px solid var(--ecru-2);
  color: var(--white-smoke);
}
.asisButton:active{
  background-color: var(--pale-dogwood);
  border: 1px solid var(--ecru-2);
  color: var(--white-smoke);
}


.asistenciaFont{
  font-family: var(--secFont);
  font-weight: 600;
  color: var(--charcoal);
}

.fraseEnd{
  color: var(--seasalt);
  margin: 0 1px 1px 0;
  border: 1px;
  font-weight: 100;
  font-family: var(--secFont);
  font-style: italic;
  font-size: 18px;
}

.frase>p{
  margin: 1px;
}

.carrousel{
  height: 70vh;
  object-fit: cover;
}

.peopleFav{
  height: 60vh;
}

.modal-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-player {
  position: fixed;
  bottom: 45vh;
  right: 10px;
  z-index: 1000;
}

.asisBack{
  background-color: #d7e9f1;
}

.footerFont{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}